name: Deploy RCA IMS Backend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, backend]

    steps:
      #  Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      #  loading .env to workspace
      - name: Load environment
        run: |
          cp /opt/configs/rca-backend/.env .env
          echo "Environment file copied"

      #  Making Maven wrapper executable
      - name: Ensure mvnw is executable
        run: chmod +x ./mvnw

      #  Build backend
      - name: Build backend JAR
        run: ./mvnw clean package -DskipTests

      #  Deploy jar to server folder
      - name: Deploy JAR
        run: |
          mkdir -p /opt/apps/rca-backend
          cp target/rca-backend-*.jar /opt/apps/rca-backend/rca-backend.jar

      #  Stop old backend processs
      - name: Stop old backend process
        run: |
          pkill -f 'java -jar /opt/apps/rca-backend/rca-backend.jar' || true
          sleep 2

      #  starting backend with .env loaded
      - name: Start backend
        run: |
          nohup bash -c '
            set -o allexport
            source /opt/configs/rca-backend/.env
            set +o allexport
            java -jar /opt/apps/rca-backend/rca-backend.jar
          ' > /opt/apps/rca-backend/app.log 2>&1 &
