name: Deploy RCA IMS Backend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, backend]

    steps:
      #  Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Injecting secrets
      - name: Export env
        run: |
          export $(grep -v '^#' /opt/configs/rca-backend/.env | xargs)
          echo "DB_URL=$DB_URL"
          echo "DB_USER=$DB_USER"
          echo "DB_PASS=$DB_PASS"
          echo "SMTP_USER=$SMTP_USER"
          echo "SMTP_PASS=$SMTP_PASS"

      
      - name: Make mvnw executable
        run: chmod +x mvnw

      
      #  Build backend
      - name: Build backend JAR
        run: ./mvnw clean package -Dmaven.test.skip=true


      #  show build artifacts
      - name: show build  artifacts artifacts
        run: ls -lh target/

      #  Deploying jar to the server folder
      - name: Deploy JAR
        run: |
          mkdir -p /opt/apps/rca-backend
          cp target/ims-*.jar /opt/apps/rca-backend/rca-backend.jar

      #  Stop old backend processs
      - name: Stop old backend process
        run: |
          pkill -f 'java -jar /opt/apps/rca-backend/rca-backend.jar' || true
          sleep 2

      #  starting backend with .env loaded
           #  starting backend with PM2 and .env loaded
      - name: Start backend with PM2
        run: |
          pm2 stop rca-backend || true
          pm2 delete rca-backend || true
          pm2 start bash --name rca-backend -- -c "
            set -a
            source /opt/configs/rca-backend/.env
            set +a
            java -jar /opt/apps/rca-backend/rca-backend.jar
          "
          pm2 save
